<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>QuizVerse AI</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>


<body>

    <div class="container">

        <header>
            <h1>✨ QuizVerse AI</h1>
            <p>AI Powered Smart Quiz Generator</p>
        </header>


        <section class="card">

            <h2>Welcome Student 👋</h2>

            <p class="subtitle">
                Generate intelligent quizzes using Artificial Intelligence
            </p>


            <div class="form-group">

                <label>
                    Select Class
                </label>

                <select>
                    <option>Class 10</option>
                    <option>Class 9</option>
                    <option>Class 8</option>
                </select>

            </div>



            <div class="form-group">

                <label>
                    Subject
                </label>

                <select>

                    <option>Science</option>
                    <option>Mathematics</option>
                    <option>Social Science</option>
                    <option>English</option>

                </select>

            </div>



            <div class="form-group">

                <label>
                    Chapter Name
                </label>

                <input 
                type="text"
                placeholder="Example: Chemical Reactions">

            </div>



            <div class="form-row">


                <div class="form-group">

                    <label>
                        Difficulty
                    </label>

                    <select>

                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                        <option>Advanced AI Level</option>

                    </select>

                </div>



                <div class="form-group">

                    <label>
                        Questions
                    </label>

                    <select>

                        <option>10</option>
                        <option>20</option>
                        <option>30</option>

                    </select>

                </div>


            </div>



            <button>
                🚀 Generate Quiz
            </button>


        </section>



        <footer>

            <p>
                © 2026 QuizVerse AI | Built by Ayush Raj
            </p>

        </footer>


    </div>


</body>

</html>